$width-card: 370px;
$height-card: 0.64*$width-card;

.div-card{
  position: relative;
  perspective: 20px;
  
  @include responsive(s){
    width: 25%;
  }
}

.card-container{
  width: $width-card*3;
  position: absolute;

}

.card{
  width: $width-card;
  height: $height-card;
  position: relative;

  border-radius: 12px;

  transform-origin: center center;
  transform-style: preserve-3d;

  @include responsive(s){
    width: 280px;
    height: 180px;
  }
}

.card-front{
  background-image: url("../svg/Card-Front.svg");
  background-size: cover;

  z-index: -900;

  animation: flip-card-1 8s ease infinite alternate;
}

@keyframes flip-card-1{
  0%{
    transform: translateX(80px) rotateY(42deg) rotateZ(75deg);
  }
  33%{
    transform: translateX(80px) rotateY(34deg) rotateZ(75deg);
  }
  66%{
    transform: translateX(80px) rotateY(40deg) rotateZ(75deg);
  }
  100%{
    transform: translateX(80px) rotateY(32deg) rotateZ(75deg);
  }
}

.card-back{
  background-image: url(../svg/Card-Back.svg);
  background-size: cover;


  z-index: -890;
  
  animation: flip-card-2 8s ease infinite alternate;
}

@keyframes flip-card-2{
  0%{
    transform: translateX(-80px) rotateX(-25deg) rotateY(38deg) rotateZ(145deg);
  }
  33%{
    transform: translateX(-80px) rotateX(-25deg) rotateY(42deg) rotateZ(145deg);
  }
  66%{
    transform: translateX(-80px) rotateX(-25deg) rotateY(38deg) rotateZ(145deg);
  }
  100%{
    transform: translateX(-80px) rotateX(-25deg) rotateY(42deg) rotateZ(145deg);
  }
}

.icon-card-hero{
  position: absolute;
  top: 140px;
  left: -200px;

  z-index: 200;

  animation: icons-hero 10s ease 0.5s infinite alternate;

  @include responsive(s){
    top: 180px;
    left: -120px;
  }
}

.icon-transfer-hero{
  position: absolute;
  top: 30px;
  left: 20px;

  z-index: 200;

  animation: icons-hero 10s ease 1.5s infinite alternate;

  @include responsive(s){
    top: 40px;
    left: 30px;
  }
}

.icon-contactless-hero{
  position: absolute;
  top: 240px;
  left: 120px;

  z-index: 200;

  animation: icons-hero 10s ease 2.5s infinite alternate;

  @include responsive(s){
    top: 200px;
    left: 80px;

  }
}

@keyframes icons-hero{
  0%{
    transform: translate3d(0,0,0);
  }
  25%{
    transform: translate3d(10px,-20px,0);
  }
  50%{
    transform: translate3d(20px,-10px,0);
  }
  100%{
    transform: translate3d(-10px,-10px,0);
  }
}

//bg-hero

.bg-circle-1{
  animation: bg-circle 3s ease 0s infinite alternate;
}

.bg-circle-2{
  animation: bg-circle 3s ease 0.5s infinite alternate;
}

@keyframes bg-circle{
  0%{
    transform: translate3d(0px, 0px, 0);
  }
  100%{
    transform: translate3d(-10px, -100px, 0);
  }
}

.bg-money-sign{
  animation: bg-stroke 9s ease 0s infinite alternate;
}

.bg-logo-nickel{
  animation: bg-stroke 9s ease infinite alternate;
}

@keyframes bg-stroke{
   0%{
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
   }
   40%,60%{
    stroke-dasharray: 3000;
    stroke-dashoffset: 1000;
   }
   100%{
    stroke-dasharray: 1000;
     stroke-dashoffset: 2000;
   }
}

//section imgs

.card-img-1{
  opacity: 0;
  animation: cards-img 10s ease 0s infinite;
}
.card-img-2{
  opacity: 0;
  animation: cards-img 10s ease 5s infinite;
}
.card-img-3{
  opacity: 0;
  animation: cards-img 10s ease 2s infinite;
}
.card-img-4{
  opacity: 0;
  animation: cards-img 10s ease 7s infinite;
}
.card-img-5{
  opacity: 0;
  animation: cards-img 10s ease 3s infinite;
}
.card-img-6{
  opacity: 0;
  animation: cards-img 10s ease 8s infinite;
}

#card-img-2{
  @include responsive(s){
    display: none;
  }
}

@keyframes cards-img{
  0%{
    opacity: 0;
  }
  20%,50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

//App Nickel

.nickel-app-1{
  animation: nickel-app-1 18s ease infinite alternate
}

@keyframes nickel-app-1{
  0%,15%{
    opacity: 1;
  }
  20%,100%{
    opacity: 0;
  }
}

.nickel-app-2{
  animation: nickel-app-2 18s ease infinite alternate
}

@keyframes nickel-app-2{
  0%,15%{
    opacity: 0;
  }
  20%,35%{
    opacity: 1;
  }
  40%,100%{
    opacity: 0;
  }
}

.nickel-app-3{
  animation: nickel-app-3 18s ease infinite alternate
}

@keyframes nickel-app-3{
  0%,35%{
    opacity: 0;
  }
  40%,55%{
    opacity: 1;
  }
  60%,100%{
    opacity: 0;
  }
}

.nickel-app-4{
  animation: nickel-app-4 18s ease infinite alternate
}

@keyframes nickel-app-4{
  0%,55%{
    opacity: 0;
  }
  60%,75%{
    opacity: 1;
  }
  80%,100%{
    opacity: 0;
  }
}

.nickel-app-5{
  animation: nickel-app-5 18s ease infinite alternate
}

@keyframes nickel-app-5{
  0%,75%{
    opacity: 0;
  }
  80%,100%{
    opacity: 1;
  }
}

.nickel-app-shield{
  animation: nickel-app-move 3s ease 0s infinite alternate;
}

.nickel-app-verify{
  animation: nickel-app-move 3s ease 2s infinite alternate;
}

.nickel-app-money{
  animation: nickel-app-move 3s ease 1s infinite alternate;
}

@keyframes nickel-app-move{
  0%{
    transform: translate3d(0,0,0);
  }
  100%{
    transform: translate3d(10px,-40px,0);
  }
}

.nickel-card-section-1{
  transform-origin: center center;
  transform-box: fill-box;
  transform: translate3d(0,-10px,0) rotate(0deg);
  animation: nickel-card-section-move 3s ease infinite alternate;
}

.nickel-card-section-2{
  transform-origin: center center;
  transform-box: fill-box;
  transform: translate3d(0,-10px,0) rotate(0deg);
  animation: nickel-card-section-move 3s .5s ease infinite alternate;
}

@keyframes nickel-card-section-move{
  0%{
    transform: translate3d(0,-10px,0) rotate(0deg);
  }
  100%{
    transform: translate3d(0,10px,0) rotate(5deg);
  }
}

.nickel-card-section-shadow{
  transform-origin: center center;
  transform-box: fill-box;
  fill-opacity: 0.15;
  animation: nickel-card-section-shadow 3s ease infinite alternate;
}

@keyframes nickel-card-section-shadow{
  0%{
    fill-opacity: 0.15;
  }
  100%{
    fill-opacity: 1;
  }
}

.bg-ball-1{
  animation: translate-ball 4s ease infinite alternate;
}

.bg-ball-2{
  animation: translate-ball 2s ease infinite alternate;
}

.bg-ball-3{
  animation: translate-ball 5s ease infinite alternate;
}

@keyframes translate-ball {
  0%{
    transform: translate3d(0,0,0);
  }  
  100%{
    transform: translate3d(50px,-20px,0);
  }  
}